.sidebar{

    width:240px;

    height:calc(100vh - 70px);

    background:#263238;

    display:flex;

    flex-direction:column;

    padding-top:20px;
}

.sidebar a{

    color:white;

    text-decoration:none;

    padding:15px 25px;

    transition:.3s;
}

.sidebar a:hover{

    background:#1976d2;

}